In [1]:
import pandas as pd
import sqlalchemy

In [3]:
fifa = pd.read_csv('resources/FIFAdatas.csv')
epl = pd.read_csv('resources/players_1920_fin.csv')

In [4]:
fifa.head()

,ID,picture,Flag,Name,Age,Position,Overall,Potential,Team_Image,Team,Value,Wage,Total_Point
0,237692,https://cdn.sofifa.org/players/4/20/237692.png,https://cdn.sofifa.org/flags/14.png,P. Foden,['19'],CAM,76,89,https://cdn.sofifa.org/teams/2/light/10.png,Manchester City,€14.5M,€52K,1881
1,212188,https://cdn.sofifa.org/players/4/20/212188.png,https://cdn.sofifa.org/flags/21.png,T. Werner,['23'],ST,84,88,https://cdn.sofifa.org/teams/2/light/112172.png,RB Leipzig,€41M,€77K,1983
2,239085,https://cdn.sofifa.org/players/4/20/239085.png,https://cdn.sofifa.org/flags/36.png,E. Håland,['18'],ST,78,89,https://cdn.sofifa.org/teams/2/light/191.png,FC Red Bull Salzburg,€16.5M,€17K,1897
3,248243,https://cdn.sofifa.org/players/4/20/248243.png,https://cdn.sofifa.org/flags/18.png,E. Camavinga,['16'],CM,70,90,https://cdn.sofifa.org/teams/2/light/74.png,Stade Rennais FC,€3.5M,€3K,1879
4,238160,https://cdn.sofifa.org/players/4/20/238160.png,https://cdn.sofifa.org/flags/48.png,M. Demiral,['21'],CB,74,85,https://cdn.sofifa.org/teams/2/light/45.png,Juventus,€9M,€45K,1651

In [5]:
epl.head()

,Unnamed: 0,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,full,team,ppm
0,1,0,0,1,0,0.1,534,37,1,0,...,1,0,0,0,4.5,False,0,Aaron Connolly,Brighton,0.222222
1,2,0,0,1,0,0.3,534,43,1,0,...,1,10589,13500,2911,4.5,True,0,Aaron Connolly,Brighton,0.222222
2,3,0,0,1,0,4.8,534,58,0,0,...,1,8090,11749,3659,4.5,False,0,Aaron Connolly,Brighton,0.222222
3,4,0,0,2,0,0.6,534,63,1,0,...,1,8437,13439,5002,4.5,False,0,Aaron Connolly,Brighton,0.222222
4,5,0,3,53,1,23.8,534,72,0,2,...,13,2156,5952,3796,4.5,True,0,Aaron Connolly,Brighton,2.888889